---
// jokes2.astro
export const prerender = false;
import Layout from "../layouts/Layout.astro";
const siteEmoji = "/images/site-emoji.png";
const jokes = [
  " ูุงุญุฏ ุจูุฏูุชูุง ุทูุจุฉ ุฌุช ูู ุตุฏุฑู ุจุต ูุฑุงู ๐",
  "ููู ุงูุตุนูุฏู ููุง ุจููุงู ุจูุญุท ููุจููู ุฌุงูุจูุ ุนูุดุงู ููุง ููุจู ูุถุฑุจ ุงูุชุงูู ูุญูุด ๐",
  "ุณูุฑุงู ูุงุณู ูุฑุฎุชูุ ูุงุนุฏ ูุถุฑุจ ูููุง ููููู: ูู ููู ุจูุถ ุจูุถ ูุงููุด ุฌุจูุฉ ๐",
  " ูุงุญุฏ ูุณุทูู ููู ุชุงูุณู ูุณูุงูู ููุงู ูุณุทููุ ูุงูู: ูุงุช ุงููู ุชุฌูุจู ูุงูุฒู ููุง ๐คฃ",
  " ูุงุญุฏ ูุณุทูู ุฎุฑุฌ ูู ุงูุนุฑุจูุฉ ูููู ุงูุฏููุง ุจุชูุทุฑุ ุฑุงุญ ุฎุงุฑุฌ ูู ุงูุจุงุจ ุงูุชุงูู ๐",
  "ูุญุดุด ุจูุตูู ุงุชุตู ุจู ุตุงุญุจู ูุงู: ููููุ ูุงู: ูู ุงูุฑูุนุฉ ุงูุชุงููุฉ ๐",
  " ูุงุญุฏ ูุงู ูุชุฃุฎุฑ ููู ุงูุญูู ุจุฏุฃ ๐ด",
  "ููู ูุง ูุณุชุฎุฏูุด ุงูููุจููุชุฑ ูููุ! ูุงูู ุฎุงูู ูู ุงููุงุฑุฉ",
  " ูุงุญุฏ ุงุดุชุฑู ุฎุงุชู ูุฎุทูุจุชูุ ุฃูููุง ูุงูููู: ุชุนุงูุง ูุจุณูุง ุงูุฎุงุชูุ ูุงู: ูุง ุฎุณุงุฑุฉุ ููุช ุฃุดุชุฑู ููุง ุจูุทููู ๐",
  " ูุงุญุฏุฉ ุงุณููุง ูุงูุฏุ ุนูุงุฑุฉ ูุทุช ูู ููู ๐ฌ",
  " ุขูุณูุฑูู ููุน ูู ุงูุฏูุฑ ุงูุชุงูุช ูุงู ุงูุญุณูููููููููููููู ๐โฅ",
  "ุงุตูุน ุดุงู ูููู ุนูู ุฑุงุณู ููู ุงูุฒูู ูุงูุช ุงุฎุฑ ุฒุญูููู ููุฒู",
  " ุตูุฏูุงููุฉ ุฃุบูู ุนูููุง ูู ุงูุฎุถุฉ ูุฃููุง ุดุงูุช ูุงุฑูุณู ุนูู ุงูุญูุทุฉ ๐",
  "ูุณุทูู ูู ุญุตุฉ ุฅูุฌููุฒู.. ุงูุฃุณุชุงุฐ ุณุฃูู: ูู ุนุงูุฒ ุชููู 'ุชุนุงู ููุง' ุจุงูุฅูุฌููุฒู ุชููู ุฅููุ ูุงู: come hereุ ุงูุฃุณุชุงุฐ: ูุฅุฐุง ุนุงูุฒ ุชููู ูู 'ุฑูุญ ููุงู'ุ ูุงู: ุฃุฑูุญ ููุงู ูุฃููู ูู come here ๐",
  " ูุงุญุฏุฉ ุณุงููุฉ ุนูู ุงููGPSุ ูุงู ููุง: ุงูุญุฑูู ูููููุงุ ุฑุงุญุช ุดุงููู ุงูุทุฑุญุฉ ๐",
];
const jokes2 = [
  " ูุงุญุฏ ุจุฎูู ุงููุณุฑ ุณู ุงููุดุท ุจุชุงุนูโฆ ุฏู ูุงู ุขุฎุฑ ุณู! ๐",
  "ูุงุญุฏ ูุงู ูุฃุฎูู ุงูุชูุฃู: ุฃูุช ููู ูู ุงูุตุจุญุ ูุงูู: ุจุฎุฑุจูุชูุ ุฃูู ุฎูุชูู ุงุณุชุญูู ูุฑุชูู! ๐คฃ",
  " ูุงุญุฏ ูุงู ูุนุงู ุนุฑุจูุฉ ูุฏููุฉโฆ ุตุงุญุจู ูุงู ูู: ุญุท ุนูููุง ุนูุงูุฉ ูุฑุณูุฏุณ! ๐",
  " ูุงุญุฏ ูุณูู ููุน ููู ุงูููู ูู ุงูุงูุชุญุงู ูุณูู ุงููุฑูุฉ ๐",
  " ูุงุญุฏ ูุญุดุด ุณุฃู ุฃุฎูู: ุงููุฑู ุจูู ุงูุฃุณุจูุน ูุงูุตุญุฑุงุกุ ูุด ูููุง ุฃุญุฏ! ๐๏ธ",
  " ูุญุงูู ูุนุฑูุด ูุชุบุฏู ูู ุงูุจูุชุ ูุฃููู ููููููู ูุถูุฉ โ๏ธ",
  " ูุงุญุฏุฉ ูุงูุช ุจุชุณุชุญููุ ูุฎุจุท ุนูููุง ุฌุงุฑูุง ุงูุฃุนููุ ูุงุฏุงูุง ููู ุจููุงุณุจุฉ ุฑุฌูุน ุจุตุฑู ๐น",
  "ุทูู ูุธุฑ ุฅูู ูู ุฃุฎูู ุงูุฑุถูุนุ ูุงู: ุถุญููุง ุนูููู ูุฃุฏููู ุทูู ูู ุบูุฑ ุฃุณูุงู ๐",
  " ูุงุญุฏุฉ ุทูุจุช ูู ุฌูุฒูุง ูค ุขูุงู ูุนูููุฉ ุชููููุ ุงุฏุงู ูกู ุฌููู ููุงู ููุง: ูุงุชู ููู ูููุทุจุฎ ุฃููุฑ! ๐คฃ",
  " ูุงุญุฏุฉ ูุงูุช ูุฌูุฒูุง: ุจุต ุฃูุง ุนุงูุฒุฉ ูู ุงููุงุณ ุชุณูุน ุตูุชูโฆ ูุงููุง: ุฑูุญู ูุง ุดูุฎุฉ ูุงูุชู ุทุงูู ุจุงูุชูุงุชุฉ ๐",
];
const jokes3 = [
  "ูุงุญุฏ ูุญุดุด ุดุงู ุงููุงุฑ ูููุนุฉ ูู ุฃูู ููุงู ููุง: ูููุฑุฉ ูุง ุญุงุฌุฉ ูุงููู!",
  "ูุงุญุฏ ุจูุณุฃู ูุงุญุฏุฉ ุนู ุงุณููุงุ ูุงูุช ูู: ูุนุฏุ ูุงู ููุง: ููููู ูุญุฏุ",
  "ูุงุญุฏ ูุณุทูู ุฏุฎู ุนูู ุฃููู ููู ุญุงูู ุดูุจูุ ูุงู ููู: ุชุตุฏููุง ูุงููู ูุนุฑูุชูู!",
  " ุญุฑุงูู ุฏุฎู ุนูู ูุงุญุฏ ูุงูู ูู ุฃูุถุชู ูุณุฑู ุงููุญูุธุฉุ ููุงูุง ูุงุถูุฉ ุฑุฌุนูุง ููุงูู: ุงูุช ููู ููุณ ุชูุงู!",
  "ูุงุญุฏุฉ ุจุชููู ูุฌูุฒูุง: ูุง ุฑูุชูู ุงุชุฌูุฒุช ุฅุจููุณ ุฃุญุณู ููู! ูุงู ููุง: ููููุนุดโฆ ุงุญูุง ุฃุฎูุงุช!",
  "ูุงุญุฏุฉ ุจุชููู ูุฎุฏุงูุชูุง: ุงุญูุง ุจููุทุฑ ุงูุณุงุนุฉ ูฉุ ูุงูุช ููุง: ูุงุดูุ ูู ูุตุญูุชุด ูุด ุชุณุชูููู!",
  " ูุงุญุฏ ุจูุณุฃู ุฃุจูู: ุงู ูู ุงูููุงุฏ ุณุฑูุนุฉ ุงูุชุจุฎุฑุ ูุงู ูู: ุฑุงุชุจู ููุง ุชุดููู ุฃูู!",
  " ูุงุญุฏุฉ ุงุชุตูุช ุจูุงูุชูุง: ุฌูุฒู ูุฒุนููู ูุฌุงู ุฃูุนุฏ ุนูุฏููุ ูุงูุช ููุง: ูุชุฌูุดโฆ ูู ูุญุชุงุฌ ุนูุงุจ ุฃูุจุฑุ ูุฃูุง ุงููู ูุฌููู ุฃูุนุฏ ุนูุฏูู!",
  " ูุญุดุด ุจูุณุฃููู ุงููุงุณ: ุงูู ุฑุฃูู ูู ุงูุฒูุงุฌ ุงููุจูุฑุ ูุงู ููู: ูุนูู ุงูุณุงุนุฉ ูุงูุ",
  "ูุงุญุฏ ุจูุณุฃู ุตุงุญุจู: ุงูุช ูุณู ุฎุงุทุจุ ูุงู ูู: ูุงุ ูุงูู: ุฃุญุณูโฆ ุฏู ูุงูุช ูุญุดุฉ! ูุฑุฏ ุนููู ุงูุชุงูู: ุฃูุง ุงุชุฌูุฒุชูุง!",
  " ูุงุญุฏ ุดุบุงู ูู ุงููุฑูุฑ ุดุงู ููุฏ ุจูุชููู ุจูุบุฉ ุงูุฅุดุงุฑุฉ"
];
const jokes4 = [
"ุงุดุชุฑู ุจุฎูู ูฃ ุจุฑุชูุงูุงุช ูุทุน ุงูุฃููู ููุงูุง ูุชุนููู ูุฑูุงูุง ูุทุน ุงูุชุงููู ููุงูุง ุฃูุถุง ูุชุนููู ูุฑูุงูุง ูุทูู ุงูููุฑ ููุทุน ุงูุชุงูุชู ูุฃูููุง.",
"ูุญุดุด ุจูุณุฃู ูุญุดุด ูู ุตุญูุช ููููุช ููุณู ููุช ูุชุนูู ุงูู ูุงูู ูุงููู ูููู ุฃุชูุจู.",
" ูข ูุณุงุทูู ูุงุญุฏ ุจูููู ููุชุงูู ุชูุชูุฑ ุงูุฌูุนู ูููู ููุฌู ุขุฎุฑ ุงูุดูุฑ ูุงูู ูุด ุนุงุฑู ุจุณ ูููู ููุง ูุถุบุท ุนููู ููุงูู.",
" ูุงุญุฏ ุบุจู ุจูุฐุงูุฑ ุฏุงููุง ุจุฑู ุงูุจูุช ุนูุดุงู ุงููุงุณ ููููู ุนููู ุญุตู ุนูู ุงูุดูุงุฏู ูู ุงูุฎุงุฑุฌ.",
"ูุงู ูู  ุทูู ูุด ุนุงุฑู ููุงู ููุงูุชูู ุฃูู ูุนุฏ ูููุฆู ุญุชู ููุงู ูุนุฏ ููุฎูุณูู ูุงูููู ุบูุจู ูุตุญู ุบุณู ูุดู ูููู ุนุฏ.",
" ูุฏุฑุณ ุจูุณุฃู ุงูุทุงูุจ ุงูุซุนูุจ ููุฏ ุฃู ูุจูุถ ูุฑุฏ ุนููู ูุงูู ูุงููู ุงูุซุนูุจ ููุงุฑ ุงุชููุน ููู ุฃู ุญุงุฌู.",
" ูุงุญุฏ ุนุฌูุฒ ุงููุงุณ ุจุชุณุฃูู ููู ุฏุงููุง ุจุชููู ููุฑุงุชู ุญูุงุชู ูุนูุฑู ูุงููู ูุงููู ูุงุณู ุงุณููุง ูุฎุงูู ุฃุณุฃููุง.",
" ูุงุญุฏ ุบุจู ุฏุฎู ุงูุณุฌู ูุจูุณุฃููู ููู ุฏูุณุช ุงูุฑุงุฌู ุจุงูุนุฑุจูู ููุงููู ุฌุงูู ุฑุณุงูู ูู ุนุงูุฒ ูกู ุฏูุงุฆู ูุฌุงูุง ุฏูุณ ูุงุญุฏ.",
" ูุงุญุฏู ุบุจูู ุญููุช ูุณูุนุช ุงู ุฌูุฒูุง ุจูุฎูููุง ูุฑุงุญุช ูุงูุช ูุฌูุฒูุง ูููู ุงูุตุฑุงุญู ุงู ูู ุจุทูู ุฏู ุงุจู ููู.",
" ูุงุญุฏ ุจูุชุบุฒู ุจุฒูุฌุชู ูุงููุง ุฃุฑูุฏ ุงู ุงุถุน ุฑุฌูู ูู ูุฌูู ูุณุฃูุชู ุนู ุงูุณุจุจ ูุงููุง ุนูุดุงู ุงููู ุฃูู ุฑุงุฌู ูุถุน ูุฏูู ุนูู ุณุทุญ ุงูููุฑ.",
];
const jokes5 = [
  "ูุงุญุฏ ุบุจู ุจูุฃูู ุจููุนูุฉ ูุชุฑ ููุตุ ุณุฃููู ูููุ ูุงู ุงูุฏูุชูุฑ ูุงููู ุงุจุนุฏ ุนู ุงูุฃูู ูุฃูุง ูุทูุน!",
  "ูุงุญุฏ ุบุจู ุงุชุนูุฑุ ุงูุฏูุชูุฑ ูุชุจ ูู ู ููุงู ูู ุงุฏูู ููุงู ุงูุฅุตุงุจุฉุ ุฑุงุญ ุฏูู ุงูุณูู ููู!",
  "ุณุช ุจุชููู ููุฏูุชูุฑ: ุฌูุฒู ุจูุชููู ููู ูุงููุ ุฃุนูู ุฅููุ ูุงููุง ุณูุจูู ูุชููู ููู ุตุงุญู ูููู ูุฑุชุงุญ.",
  "ุบุจู ุงุดุชุฑู ุชุงูุณูุ ูู ูุง ุญุฏ ููููู ุชุงูุณู ุชุงูุณูุ ูุถุญู ููููู: ุนุงุฑู ูุง ุนู ุฏู ุจุชุงุนู!",
  "ููุฏ ุจูููู ูุฃุจูู: ููุณู ุฃููู ุฏุฑุงุณุชู ุจุฑูุ ูุงูู: ูุงุดู ูุง ุงุจููุ ููุฑุดูู ูู ุงูุญูุด ุจุณ ุงูุจุณ ุชููู ุนุดุงู ุงูุจุฑุฏ!",
  "ูุฏุฑุณ ูุงู ููุชูุงููุฐ: ุฃูุชู ููุฑ ุงููุณุชูุจูุ ูุงุญุฏ ุจุต ูุฒูููู ุงููุงูู ููุงู: ูุง ุฃุณุชุงุฐ ุงูููุฑ ุงููู ุฌูุจู ุงุชุญุฑู.",
  "ูุฏุฑุณ ุนุฑุจู ุณุฃู ูุฑุงุชู: ุชุนุฑูู ุฅูู ุนู ุงููุญู ูุงูุตุฑูุ ูุงูุช ูู: ุจุนุฑู ุฃุตุฑู ูุฑุชุจู ุนูู ุงููุญู ุงููู ูุนุฌุจูู.",
  "ููุฑ ุจูุฌุฑู ูุฑุง ุนุฑุจูุฉุ ูููุ ุนุดุงู ูููุง ู!",
  "ุบุจู ุณุฃููู: ุฅูู ุฃุตุนุจ ุญุงุฌุฉ ุชุนูููุงุ ูุงููู: ุฃุญูู ุฏููู ูุฃูุง ุจูุถุบ ูุจุงู.",
  "ุญุฑุงูู ุฏุฎู ุดูุฉ ุณุช ูุจูุฑุฉุ ุงุณุชูู 3 ุณุงุนุงุช ูุญุฏ ูุง ุชุฎูุต ุชุณุฑูุญ ุดุนุฑูุงุ ูููุง ูุงูุช ูููุงุด ุญุงุฌุฉ ูุณุฑููุงุ ููุด ุดุนุฑูุง ููุฑุจ.",
  "ุจุฎูู ูุงุช ุฃุจููุ ุฑุงุญ ููุชุจ ูุนู ูู ุงูุฌุฑูุฏุฉุ ูุงููู ุนุงูุฒ ุฃุฑุฎุต ุฅุนูุงูุ ูุงูููู ุฎูุณ ูููุงุชุ ูุชุจ (ุนุงุทู ููุนู ูุงูุฏู)ุ ูุงูููู ุจุงูู ูููุชููุ ูุงููู ุงูุชุจูุง (ูุจูุตูุญ ุบุณุงูุงุช).",
  "ุจุฎูู ุทุงุญุช ูููุณู ูู ููู ุงูุณุทุญุ ุฌุฑู ููุฒู ุจุณุฑุนุฉุ ูุตู ูุจููุง!"
];
export const jokes6 = [
  " ูุงุญุฏ ุฎููู ุถุงูุ ุฃุฏุงู ูุฃุฎูู ุงูุตุบูุฑ.",
  " ูุงุญุฏ ุฑุฌุน ูู ููุงููุ ุฎุจุท ูู ุงููู ูุฑุงู.",
  " ููุงุด ุจูุชู ุชุนุจุชุ ุณููุฑูุง ุจุฑุง.",
  " ูุฌุงุฑ ุนุฌุจู ุจูุณุชุ ุฑุงุญ ูุดูููุฑู.",
  " ูุงุญุฏ ุฃุญูู ุฌู ูุนููุทุ ูุงู ูุฑูู.",
  " ูุงุญุฏ ูููุงูู ุงุชุฎุงูู ูุน ุตุงุญุจูุ ุณุจู ุงูุชูู.",
  " ูููุฏุณ ุนุงูุฒ ูุณูุจ ุงูุดุบูุ ูุงููู ุฃูุง ูุณุชุทูู.",
  " ุฃุณุชุงุฐ ููููุงุก ุฎููู ููุฏุ ุณูุงู ุณุงูู ุฃูุณูุฏ ุงููุฑุจูู.",
  " ููุฑุถุฉ ุฎูููุช ุชูุฃูุ ุณูุช ูุงุญุฏ ุนุถู ูุงูุชุงูู ูููุฏ.",
  " ูุงุญุฏุฉ ุงุณููุง ุณุงูุฏู ุฏุฎูุช ููุฏุณุฉุ ุจูุช ุณุงูุฏู ูุชุฑ ูุฑุจุน."
];
export const jokes7 = [
  "ูุงุญุฏ ุบุจู ุฑุงุญ ููุฏู ุนูู ูุธููุฉุ ูุณุฃู ุงููุฏูุฑ: ุงููุฑุชุจ ูุงูุ ุงููุฏูุฑ ูุงู ูู: ุงููุฑุชุจ 2000 ุฌููู ูุจุนุฏ ุณูุชูู ููููู 5000 ุฌูููุ ุงูุบุจู ูุงู ูู: ุฎูุงุต ูุงุฌู ุจุนุฏ ุณูุชูู.",
  " ูุงุญุฏ ุบุจู ุฑูุจ ุชุงูุณู ูุฎูู ูุฑุงุชู ุชุฑูุจ ูุฏุงู ุนูุดุงู ุงูุณูุงู ููุจุตุด ุนูููุง ูู ุงููุฑุงูุฉ.",
  " ูุงุญุฏ ุดุงูู ููุณ ุณููุ ูุงุจู ูุงุญุฏ ูุณุทูู ูุงูู: ูู ุนุฑูุช ุงูููุณ ุฏุง ููู ุฅูู ูุฏูู ุณููุฉ. ูุงูู: ุจุญุฑ ๐.",
  "ุฑุงุฌู ุนุฌูุฒ ุณูุน ุญุฏ ุจูุฎุจุท ุนูู ุงูุจุงุจ ููุงู: ูููุ ูุงูู: ุฃูุง ุญููุฏู. ุฑุฏ ุนููู: ูุชููุฏูู ุจุฅูู ูุนููุ",
  "ูุงุญุฏ ูุณุทูู ุฑุงุญ ูุฏูุชูุฑ ุฃุณูุงูุ ุงูุฏูุชูุฑ ูุงูู: ุฃุณูุงูู ูุญุชุงุฌุฉ ุชูููู. ูุงูู ุงููุณุทูู: ุจุณูุทุฉ ูุง ุฏูุชูุฑ ุจุณ ูููู ูุฌุฑู ููุง ูููุงุฏูุ",
  "ุฑุงุฌู ูุชุญ ููุฑุงุชู ุจุงุจ ุงูุนุฑุจูุฉุ ูุงูุช ูู: ูุงู ูุง ุฃุฑูุนู ูุฃูุช ุฑููุงูุณู! ูุงููุง: ุงุชูููู ุงูุฒููุ ุงูุจุงุจ ูุจููุชุญุด ุฅูุง ูู ุจุฑุฉ ๐คฆโโ๏ธ.",
  "ูุงุญุฏุฉ ุตุญูุช ูู ุงูููู ูุฑุนูุจุฉุ ุฌูุฒูุง ุณุฃููุง: ูุงููุ ูุงูุช ูู: ุญููุช ุฅูู ุงุชุฑููุช. ูุงููุง: ุจุนุฏ ุงูุดุฑ ูุง ุญุจูุจุชูุ ุฅู ุดุงุก ุงููู ุฃูุง ููุง ุงูุชู ๐.",
  " ูุงุญุฏ ูุณุทูู ุฑุงุญ ุงููุญููุฉุ ุงููุงุถู ุณุฃูู: ุฃูุช ูุชุฌูุฒ ูููุ ูุงู ูู: ูุชุฌูุฒ ูุงุญุฏุฉ ุณุช ูุง ุณุนุงุฏุฉ ุงููุงุถู. ุงููุงุถู ูุงู ูู: ูู ููู ุญุฏ ุจูุชุฌูุฒ ุฑุงุฌูุ!ุ ูุงู ูู: ุฃููู ูุงูููุ ุฃุฎุชู ูุชุฌูุฒุฉ ุฑุงุฌู ๐.",
  " ูุงุญุฏ ุจุฎูู ุฑุงุญ ูุฒูุฑ ุฃูู ูู ุงููุณุชุดููุ ููู ููุญุฉ ููุชูุจ ุนูููุง (ุงุฏูุน)ุ ูุงู: ุฑุจูุง ูุดูููุงุ ูุดูููุง ูู ุงูุจูุช ููุง ุชุฑุฌุน ุจูู.",
  " ุฃุณุชุงุฐ ุจูููู ูุทูุงุจู: ูุนูุด ุงููุฑุฏ ูู ุฌููุจ ุฅูุฑูููุงุ ุฑุฏูุง ุนููู: ูุนูุด ูุนูุด ูุนูุด ๐.",
  " ูุงุญุฏ ุบุจู ูุงู ูุตุงุญุจู: ุฃูุฑููุง ุทูุนุช ุงูููุฑุ ูุงุญูุง ูุงุฒู ูุทูุน ุงูุดูุณ. ุตุงุญุจู ูุงูู: ุจุณ ุงูุดูุณ ุญุฑ ุฌุฏูุง. ูุงูู: ูููุด ูุดููุฉ ูุทูุนูุง ุจุงูููู ๐.",
  " ูุงุธุฑ ุจูุณุฃู ุงูุฃุณุชุงุฐ: ูู ููู ูู ุงูุชูุงููุฐ ุนูุฏู ุจููุทููุง ุงูุฌูู ุฏุงูุ ูุงูู: ูุด ุนุงุฑูุ ูุง ูู ุฏุง ุงููู ููุฏููู ๐.",
  " ูุงุญุฏ ุณุฃู ุตุงุญุจู: ุฅูู ุฃุญูู ุญุงุฌุฉ ูู ุงูุฏููุงุ ูุงู ูู: ูุฑุงุชู. ูุงู ูู: ูุด ุจุชููู ุนู ุงููุตุงูุจุ ุจุชููู ุนู ุงูุญุงุฌุงุช ุงูุญููุฉ ๐.",
  " ุตุนูุฏู ุฑูุจ ุฃุณุงูุณูุฑ ููุชูุจ ุนููู 'ุงูุญูููุฉ 8 ุฃุดุฎุงุต'ุ ูุฑุงุญ ูุงุนุฏ ูุณุชูู 7 ุฃุดุฎุงุต ุนุดุงู ูุฑูุจ ๐."
];
const jokes8 = [
  " ูุงุญุฏ ุจุฎูู ุงููุณุฑ ุณู ุงููุดุท ุจุชุงุนู ูุณุฃููู ุงููุงุณ ููู ุฒุนูุงูุ ูุงููู ุณู ุงููุดุท ุงููุณุฑุ ูุงูููู ุนุงุฏู ูููู ุชูุดุท ุดุนุฑู ูู ุบูุฑ ุงูุณู ุฏูุ ูุงููู ูุง ููู ุฏู ูุงู ุขุฎุฑ ุณู ๐",
  "ูุงุญุฏ ูุงู ูุฃุฎูู ุงูุชูุฃู: ุงูุช ููู ูู ุงูุตุจุญ ุจุฎุฑุจูุชูุ ุฃูู ุฎูุชูู ุฃุณุชุญูู ูุฑุชูู ๐",
  " ูุงุญุฏ ูุงู ูุนุงู ุนุฑุจูุฉ ูุฏููุฉ ููุด ุนุงุฑู ูุจูุนูุงุ ูุตุงุญุจู ูุงูู ุญุท ุนูููุง ุนูุงูุฉ ูุฑุณูุฏุณ ููู ุชุชุจุงุน ุนูู ุทููุ ูุนูู ูุฏู ูุจุนุฏ ุฃุณุจูุน ุตุงุญุจู ุณุฃูู: ุจุนุช ุงูุนุฑุจูุฉุ ูุงูู: ุงูุช ุฃูุจู! ูู ูู ุญุฏ ูุจูุน ุนุฑุจูุฉ ูุฑุณูุฏุณุ ๐คฃ",
  " ูุงุญุฏ ูุณูู ููุน ููู ุงูููู ูู ุงูุงูุชุญุงู ูุณู ูุฌูุจู ูุณูู ุงููุฑูุฉ ๐",
  " ูุงุญุฏ ูุญุดุด ุณุฃู ุฃุฎูู: ุฅูู ุงููุฑู ุจูู ุงูุฃุณุจูุน ูุงูุตุญุฑุงุกุ ูุงูู: ูุด ุนุงุฑูุ ุฑุฏ ุนููู: ุงูุฃุณุจูุน ููู ุฃุญุฏ ููู ุงูุตุญุฑุงุก ููููุงุด ุฃุญุฏ ๐",
  " ูุญุงูู ูุนุฑูุด ูุชุบุฏู ูู ุงูุจูุช ุนูุดุงู ูุงููุง ููููููู ูุถูุฉ ูู ุงููุญููุฉ ๐",
  " ูุงุญุฏุฉ ูุงูุช ุจุชุณุชุญูู ูุฎุจุท ุนูููุง ุฌุงุฑูุง ุงูุฃุนููุ ููุงูุช: ูููุ ูุงููุง: ุฃูุง ูุตุทูู ุฌุงุฑูู ุงูุฃุนููุ ููุงูุช: ุงูุชุญ ุงูุจุงุจ ุฃุดููู ุนุงูุฒ ุฅูู ูุฃุฑุฌุน ุฃูุจุณุ ููุชุญุชููุ ุฅุฏูุงูุง ููู! ูุงูุชูู: ุจุณ ุฅูู ุงูููุงุณุจุฉุ ูุงููุง: ุจููุงุณุจุฉ ุฑุฌูุน ูุธุฑู ๐คฃ",
  "ุทูู ุจุต ูู ูู ุฃุฎูู ุงูุฑุถูุน ุจุงุณุชุบุฑุงุจุ ุฃูู ุณุฃูุชู: ูุงููุ ูุงููุง: ุถุญููุง ุนูููู ูุงุฏููู ุทูู ูู ุบูุฑ ุฃุณูุงู ๐",
  " ูุงุญุฏุฉ ุทูุจุช ูู ุฌูุฒูุง ูค ุขูุงู ุนูุดุงู ุชุนูู ุนูููุฉ ุชูููู ูุนุฏุฉุ ุฅุฏูุงูุง ูกู ุฌููู ููุงููุง: ูุงุชู ููู ูููุทุจุฎ ุฃููุฑ ๐",
  " ูุงุญุฏุฉ ุจุชููู ูุฌูุฒูุง: ุจุตุ ุฃูุง ุนุงูุฒุฉ ูู ุงููุงุณ ุชุณูุน ุตูุชู ุงูููุงุฑุฏู! ูุงููุง: ุฑูุญู ูุง ุดูุฎุฉ ูุงูุชู ุทุงูู ุจุงูุชูุงุชุฉ ๐ฅ๐คฃ"
];
const jokes9 = [
  " ูุงุญุฏุฉ ุตุญูุช ูู ุงูููู ูุฎุถูุถุฉุ ุฌูุฒูุง ูุงููุง: ูู ุฅููุ ูุงูุชูู: ุญููุช ุฅูู ุงุชุฑููุช! ูุงููุง: ุจุนุฏ ุงูุดุฑ ูุง ุญุจูุจุชูุ ุฅู ุดุงุก ุงููู ุฃูุง ูุงูุชู ูุฃ ๐",
  " ูุงุญุฏ ูุณุทูู ุงุดุชุฑู ุชุงูุณูุ ูู ูุง ุงููุงุณ ุชุดุงูุฑูู ููุฑุญ ููููู: ูุงู! ุฏู ุฃูุง ุทูุนุช ูุดููุฑ ุฃูู ๐คฃ",
  " ูุงุญุฏ ูุญุดุด ุฃุฎูู ูุงุช ููุด ุนุงุฑู ูููู ููุฑุงุชู ุฅุฒุงูุ ููุงููุง: ุฃุฎููุง ุงุชุฌูุฒ ุนููููุ ูุงูุช: ุฅููู ูุง ุฑุจ ูุฌููู ููุช! ูุงููู ุฏุฎููู ูุง ุดุจุงุจ ๐คฃ",
  " ุงุชููู ูุณุงุทููุ ูุงุญุฏ ุจูููู ููุชุงูู: ุชุนุฑู ุชูุดู ุนูู ุฏุฎุงู ุณูุฌุงุฑุชูุ ูุงูู: ุงูุช ูุฌููู! ุงูุฑุถ ุทููุช ุงูุณูุฌุงุฑุฉ ูุฃูุง ูุงุดู ุฃูุนุ ๐",
  " ูุงุญุฏ ููู ุนูุงูู ูุดุบููู ุงููุฑูุญุฉุ ุถุฑุจูู ุนูุดุงู ูุดุบููููุง ุนูู ูฃ ูููุง ูข ๐",
  " ูุงุญุฏ ูุฑุฑ ูุชุฌูุฒ ุฌุงุฑุชู ุงููู ุฌูุฒูุง ููุชุ ุฑุงุญ ูุดูููุง ูู ุบูุฑ ูููุงุฌ ุงุชุตุฏู ููุงููุง: ูููุด ุฃู ุฃุฎุจุงุฑ ุนู ุงููุฑุญููุ ๐",
  " ูุงุญุฏ ุบุจู ุงุดุชุฑู ููุจุงูู ุฌุฏูุฏุ ูุงู ูุฃุฎูู: ุงูุชุจูู ุฑุณุงูุฉ ุนูุดุงู ุฎุทู ูุญุด ๐",
  " ูุงุญุฏุฉ ุฑุงุญุช ุชุบูุฑ ุงุณููุง ูู ุตุจุงุญ ูุถุญูุ ุงูููุธู ูุงููุง: ูุด ูุณุชุงููุฉุ ุฏู ุงููุฑู ุจูููู ูุต ุณุงุนุฉ ุจุณ ๐",
  " ูุงุญุฏุฉ ูุงูุช ูุงุจููุง: ูุงุชูู ูุฑูู ูู ุนูุฏ ุงูุฌูุฑุงู ูููุทุงุฑุ ุฑุงุญ ููุณู ุงููููุฉุ ููุงููู: ุฃูู ุจุชููููู ูููู ูุนุฒูููู ุนูู ุงููุทุงุฑ ๐คฃ",
  " ูุฏุฑุณ ุจูุณุฃู ุงูุทุงูุจ: ูุง ูู ููุฑุฏ ูููุฉ ูุตุงุฆุจุ ูุงูู: ูููุดุ ูุฃููุง ุจุชูุฌู ูููุง ูุน ุจุนุถ ูุง ุฃุณุชุงุฐ ๐",
];
const jokes10 = [
  "ุตูุฏูู ูุงุจู ุตูุฏูู ูู ุงูุดุงุฑุน ูุงูู: ูุฑูู ุจูู ๐",
  "ุงุชููู ูุฏุฑุณูู ุญุจูุง ุจุนุถ ูุชุจูุง ูุชุงุจูู ุนูู ุงูุณุจูุฑุฉ ๐งโ๐ซ",
  "ูุงุญุฏ ุฑุงุญ ูุฑูุน ูุถูุฉ ุนูู ุฌุงุฑู... ููุนุช ุนููู โ๏ธ๐",
  "ูููุงูููู ุฑุงุญ ูุฑุญ ููุท ุฒูุช ๐๏ธ",
  "ูุงุญุฏ ุฃูู ุฌูุฒ ููุฏ... ุฑุงุญุช ููุฏ ููุชุชู ๐",
  "ูุงุญุฏ ุตููู ุงุชุฌูุฒ ูุงุญุฏุฉ ุตูููุฉ ุฎูููุง ุทูู ูุงุณุงุช ๐ฅข",
  "ูุงุญุฏ ูุฑุงุชู ุฎููุช ุชูุฃูุ ูู ุงููุฑุญ ูุงู ููุฏูุชูุฑ: ุนููุง ุงูุทูุงู ูุชุงุฎุฏูู ูุงุญุฏ ๐ถ๐",
  "ุฎูุงุท ูุงู ูุงุดู ูู ุญุชุฉ ููุทูุนุฉ ูุงู ูุฎูุทูุง โ๏ธ",
  "ุจุชูุฌุงูุฉ ููุนุช ูุงูุช: ุขูุ ุงุชุฃูุฑุช ๐๐คฃ",
  "ุฌุฒุงุฑ ุฎูู ุจูุชูู ุชูุฃู ุณูุงูู ูููู ุจุงุชุฑุง ููููู ูุญูุฉ ๐ฅฉ๐คฃ"
];

---

<Layout>
  <div class="jokes-page card">
    <h1>ููุช ูุถุญูุฉ ุฌุฏูุฏุฉ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> ุงูุถุญู ูุณููุฉ ุฑุงุฆุนุฉ ูุชุฎููู ุงูุถุบุท ุงููููู ูุฅุฎุฑุงุฌ ุงูุทุงูุฉ ุงูุณูุจูุฉ. ุงุณุชูุชุน ุจูุฌููุนุฉ ูู ุฃุธุฑู ุงูููุช ุงูุชู ุณุชุฌุนูู ุชุจุชุณู ุจุตูุช ุนุงููุ ุฃูุช ููู ุญููู. ูู ููุชุฉ ููุง ูุตูุฑุฉ ูุณููุฉ ุงููุถูุ ูุซุงููุฉ ููุดุงุฑูุฉ ุงููุฑุญ ูุน ุงูุฃุตุฏูุงุก ุฃู ุงูุนุงุฆูุฉ. <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </h3>
    <ul> {jokes.map((joke) => <li>{joke}</li>)} </ul>
  </div>

  <div class="jokes-page">
    <h1>ููุช ูุถุญูุฉ ุฌุฏุง ุจุฑุถู <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> ุงุฌุนู ูููู ูููุก ุจุงููุฑุญ ูุน ูุฐู ุงูููุช ุงูุทุฑููุฉ! ูุฐู ุงููุฌููุนุฉ ุชุฌูุน ุจูู ุงูููุงูุฉ ุงูููููุฉ ูุงูููุงูู ุงูุบุฑูุจุฉ ุงูุชู ุชุฌุนู ุงูุถุญู ูุง ูุชููู. ูุซุงููุฉ ููุถุงุก ููุช ููุชุน ูุน ุงูุฃุตุฏูุงุก ุฃู ูุฑูุน ูุนูููุงุชู ูู ุฃู ูุญุธุฉ. <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h3>
    <ul> {jokes2.map((joke) => <li class="card">{joke}  <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></li>)} </ul>
  </div>

  <div class="jokes-page card">
    <h1>ููุช ุฅูุนู ูุดู <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> ููุง ุชุฌุฏ ุงูููุช ุงูุบุฑูุจุฉ ูุงูููุงุฌุฆุฉ ุงูุชู ุชุฎุทู ุงูุฃููุงุณ ูุชุฌุจุฑู ุนูู ุงูุถุญู ููุฑูุง! ูุฐู ุงูููุช ูุตูุฑุฉ ููููุง ูุคุซุฑุฉุ ุณุชุฌุนู ูุฒุงุฌู ุฃูุถู ุจุณุฑุนุฉุ ุณูุงุก ููุช ุจููุฑุฏู ุฃู ูุน ูู ุชุญุจ ูู ุงูุนุงุฆูุฉ ูุงูุฃุตุฏูุงุก. <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </h3>
    <ul> {jokes3.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page">
    <h1>ููุช ุฌุงูุฏุงุงุงุงุง <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> ุทุจ ุงุณูุน ุฏู <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </h3>
    <ul> {jokes4.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page card">
    <h1>ููุช ุฅูุนู ุชุถุญู ุฌุงูุฏ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3>
      ููุง ูุชูุงูู ููุช ูุฌูููุฉ ูุบุฑูุจุฉ ุชุฎููู ุชุถุญู ูู ุบูุฑ ูุง ุชุญุณ ๐  
      ููุช ุณุฑูุนุฉ ูููุงุฌุฆุฉุ ุชุฑูุน ุงูููุฏ ูู ุซูุงููุ ุณูุงุก ููุช ูุงุนุฏ ููุญุฏู ุฃู ูุน ุฃุตุญุงุจู ูุนููุชู.  
      ุงุณุชุนุฏ ูุฌุฑุนุฉ ุถุญู ูุญุชุฑูุฉ ูู ููุช ูููุด ุฒููุง! <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes5.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page">
    <h1>ููุช ุฎูููุฉ ุฏู <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3>
      ุงุถุญู ูู ููุจู ูุน ููุช ุบุฑูุจุฉ ูุฏููุง ุฎููู ๐  
      ูุฌููุนุฉ ููุช ุณุฑูุนุฉ ููุจุฏุนุฉ ุชุฎููู ุชุจุชุณู ุบุตุจ ุนููุ  
      ุณูุงุก ุจุชูุถู ููุช ุฑุงุญุฉ ุฃู ุนุงูุฒ ุชุฑูุน ุงูููุฏ ุดููุฉ.  
      ุงุถูููู ุฌุฑุนุฉ ุถุญู ูู ุงูุนูุงุฑ ุงูุชููู! <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes6.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page card">
    <h1>ููุช ุฌุฑุจ ุชุถุญู ุฌุงูุฏ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> 
      "ุงุดุชูุฑ ุงูุดุนุจ ุงููุตุฑู ุจุญุณ ุงูุฏุนุงุจุฉ ูุฎูุฉ ุงูุฏู ูุฏุงุฆููุง ูุง ูุญุจูุง ุงูุถุญู ูุฅููุงุก ุงูููุงุช ูู ุญูู ูุขุฎุฑ. ููู ุงูููุงู ุฏู ุฌูุนูุงูู ุฃูุจุฑ ุนุฏุฏ ูู ุงูููุช ุงููุตุฑูุฉ ุงููุถุญูุฉ ุฌุฏูุง ูู ูููุน ููุชุ ุงููู ูุนุชุจุฑ ุฃูุจุฑ ููุชุจุฉ ููุช ุนูู ุงูุฅุทูุงู ููุญุฏุซุฉ ุจุงุณุชูุฑุงุฑ ๐คฃ.",
      <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes7.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page">
    <h1>ููุช ุชููุช ูู ุงูุถุญู ๐ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3>
      ูุฌููุนุฉ ุฌุฏูุฏุฉ ูู ุฃุฌูุฏ ุงูููุช ุงููุตุฑูุฉ ุงููู ูุชุฎููู ุชุถุญู ูุญุฏ ูุง ุฏููุนู ุชูุฒู. ุฎูุฉ ุฏู ุงููุตุฑููู ูุงููุงุด ุญุฏูุฏุ ูุชุนูููุงุชูู ูุด ูููู ุชุชูุฑุฑ! <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes8.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page card">
    <h1>ุงุฎุฑ ููุช ุชุถุญู ุงูู ูููุงูุฉ ูุฏุฒ ุจูุฒ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3> 
      ูุฌููุนุฉ ููุช ุฎูููุฉ ุฏู ูุบุฑูุจุฉ ุฌุฏูุง ูู ุงูุญูุงุฉ ุงูููููุฉุ ๐คฃ.,
      <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes9.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
  <div class="jokes-page">
    <h1>ููุช ูููุง ูุนุจ ุจุงููููุงุช ูููุงูู ุบุฑูุจุฉ ูููุง ุฏููุง ุฎููู ุฒู ุงูุดุนุจ ุงููุตุฑู ๐ช ๐ <img src={siteEmoji} class="emoji-icon" alt="site emoji" /></h1>
    <h3>
      ูุฌููุนุฉ ููุช ูุตุฑูุฉ ูุตูุฑุฉ ูู ุงูููุน ุงููู ูุฎููู ุชุถุญู ุญุชู ูุงูุช ูุด ูุงูู ๐  <img src={siteEmoji} class="emoji-icon" alt="site emoji" />
    </h3>
    <ul> {jokes10.map((joke) => ( <li class="card"> {joke} <img src={siteEmoji} class="emoji-icon" alt="site emoji" /> </li> ))} </ul>
  </div>
  
</Layout>